<%= provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<a href="<%= user_path(current_user) %>">
				<%= gravatar_for current_user, size: 52 %>
			</a>
			<h1>
				<%= current_user.name %>
			</h1>
			<p>
				<%= link_to "@" + current_user.username, current_user %>
			</p>
			<!--<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
				<p><%= link_to "@" + current_user.username, current_user %></p>
			</h1>-->
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
	</aside>
	<div class="span8">
		<%= render 'follow_form' if signed_in? %>
		<% if @user.microposts.any? %>
			<h3>Microposts (<%= @user.microposts.count %>)</h3>
			<ol class="microposts">
				<%= render @microposts %>
			</ol>
			<%= will_paginate @microposts %>
		<% end %>
	</div>
</div>